[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Oo]bj/
[Tt]emp/
[Uu]nity/
[Pp]rofileAnalyzer/
[Mm]emoryCaptures/
[Uu]serSettings/
[Ee]xportedObj/

.vs/
.idea/

.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.idea
*.apk
*.vsconfig
*.pidb.meta
*.pdb.meta

sysinfo.txt
